Ayaan Jilani <dhakkadchandpandey@gmail.com>
Ayaan Jilani <dhakkadchandpandey@gmail.com> <59445725+CS-ION@users.noreply.github.com>
Beaudelaire Tsoungui Nzodoumkouo <beaudelaire@tutamail.com>
Chris Anh Thien Nguyen <nathien2310@gmail.com>
Chris Anh Thien Nguyen <nathien2310@gmail.com> <56431971+chrisanhthien@users.noreply.github.com>
Jessica Beauchemin <jessica.beauchemin01@gmail.com> <123212907+JBeauche@users.noreply.github.com>
Zeiad Badawy <z_badawy@live.concordia.ca>
Zeiad Badawy <z_badawy@live.concordia.ca> <zeiad@DESKTOP-VRC782D.>
Saoud Messaoudi <saoudmessaoudi@hotmail.fr>
Saoud Messaoudi <saoudmessaoudi@hotmail.fr> <54374558+saoudmessaoudi@users.noreply.github.com>
Yassine Ibhir <yibhir101@gmail.com>
Yassine Ibhir <yibhir101@gmail.com> <65478935+Yibhir0@users.noreply.github.com>
Omar Hammodan <omar.hammodan@gmail.com>
Omar Hammodan <omar.hammodan@gmail.com> <79528155+Vega32@users.noreply.github.com>
Mohamed Saidi <saidimoha.pro@gmail.com>
Mohamed Saidi <saidimoha.pro@gmail.com> <124919589+Mohadgb@users.noreply.github.com>
Miskat Mahmud <miskat.mahmud@mail.concordia.ca>
Miskat Mahmud <miskat.mahmud@mail.concordia.ca> <115903852+codedsami@users.noreply.github.com>
Kaoutar El Azzab <kaoutar.elazzab@gmail.com>
Kaoutar El Azzab <kaoutar.elazzab@gmail.com> <51494218+kaoutarell@users.noreply.github.com>
